body {
    background-color: rgb(255 239 240);
}

.fm-signin {
    background-color: rgba(255,255,255,0.95);
    max-width: 28rem;
    padding: 1rem 3rem;
    margin-top: 8rem;
    border-radius: 1rem;
}
.title-signin {
    color: #f79f8e;
    margin-top:8px;
    margin-bottom:8px;
}
.fm-signin > form > div:nth-child(3){
    text-align:center
}
.fm-signin > form > div:nth-child(3) button{
    width:100%;
    color:white;
    font-weight:bold;
    text-transform:uppercase;
}

.fm-signin > form > p a {
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}