body {
    background-color: rgb(255 239 240);
}

.fm-signup {
    background-color: rgba(255,255,255,0.9);
    max-width: 30rem;
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.fm-signup > form > div:nth-child(6){
    text-align:center;
}

.fm-signup > form > div:nth-child(6) button{
    width:100%;
}

.title-signup {
    text-transform: uppercase;
    text-align: center;
    color: #f79f8e;
    margin-top: 10px;
    margin-bottom: 10px;
}